@use "../base/theme" as *;
@use "../base/variables" as *;

@mixin use-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Button {
  @include use-flex-start;
  @include use-border;
  width: min(30rem, 100%);
  padding: 1rem;
  gap: 0.5rem;

  @include use-disabled-scheme;
  @include use-default-scheme;
  @include use-action-scheme;
  @include use-action-secondary-scheme;
  @include use-secondary-scheme;
}
