.TextInput {
  --c-background: var(--secondary-surface-01);
  --c-text: var(--primary);

  &-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 0.75rem;
    padding-block: 1rem;
  }
  &-label {
    margin-bottom: 0.8rem;
    padding-top: 0.5rem;
  }
  &-input {
    margin-bottom: 0.8rem;
    padding-top: 0.5rem;
    border: 4px solid;
  }
}
