$FontSizeMap: (
  "01": 10px,
  "02": 12px,
  "03": 14px,
  "04": 16px,
  "05": 18px,
  "06": 20px,
  "07": 24px,
  "08": 28px,
  "09": 32px,
  "10": 36px,
  "11": 40px,
  "12": 44px,
);

$FontUrlMap: (
  "cereal-bold": "/fonts/Airbnb-Cereal-Bold.woff2",
  "cereal-light": "/fonts/Airbnb-Cereal-Light.woff2",
  "cereal-black": "/fonts/Airbnb-Cereal-Black.woff2",
  "cereal-medium": "/fonts/Airbnb-Cereal-Medium.woff2",
  "cereal-regular": "/fonts/Airbnb-Cereal-Regular.woff2",
);

@each $Family, $Url in $FontUrlMap {
  @font-face {
    font-family: $Family;
    src: url($Url);
  }
}

$FontWeightMap: (
  "bold": "cereal-bold",
  "light": "cereal-light",
  "black": "cereal-black",
  "medium": "cereal-medium",
  "regular": "cereal-regular",
);

@each $Key, $Value in $FontSizeMap {
  .fs-#{$Key} {
    font-size: $Value;
  }
}

@each $Key, $Value in $FontWeightMap {
  .ff-#{$Key} {
    font-family: $Value;
  }
}
