@use "./fonts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: block;
  isolation: isolate;
}

button {
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:disabled {
    cursor: default;
  }
}

input {
  border: none;
  outline: none;

  &:disabled {
    cursor: default;
  }
}
