$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$yellow: hsl(53, 100%, 50%);
$green: hsl(154, 100%, 50%);
$blue: hsl(215, 100%, 50%);
$red: hsl(10, 100%, 50%);

[data-theme-mode="theme-mode-light"],
:root {
  --primary: #{$white};
  --primary-surface-00: #{darken($white, 01%)};
  --primary-surface-01: #{darken($white, 05%)};
  --primary-surface-02: #{darken($white, 10%)};
  --primary-surface-03: #{darken($white, 15%)};
  --primary-surface-04: #{darken($white, 20%)};

  --secondary: #{$black};
  --secondary-surface-00: #{lighten($black, 01%)};
  --secondary-surface-01: #{lighten($black, 12%)};
  --secondary-surface-02: #{lighten($black, 18%)};
  --secondary-surface-03: #{lighten($black, 24%)};
  --secondary-surface-04: #{lighten($black, 32%)};
  --status-info: #{darken($blue, 5%)};

  background-color: var(--primary);
  color: var(--secondary);
}

[data-theme-mode="theme-mode-dark"],
:root {
  --primary: #{$black};
  --primary-surface-00: #{lighten($black, 01%)};
  --primary-surface-01: #{lighten($black, 12%)};
  --primary-surface-02: #{lighten($black, 18%)};
  --primary-surface-03: #{lighten($black, 24%)};
  --primary-surface-04: #{lighten($black, 32%)};

  --secondary: #{$white};
  --secondary-surface-00: #{darken($white, 01%)};
  --secondary-surface-01: #{darken($white, 05%)};
  --secondary-surface-02: #{darken($white, 10%)};
  --secondary-surface-03: #{darken($white, 15%)};
  --secondary-surface-04: #{darken($white, 20%)};
  --status-info: #{lighten($blue, 10%)};

  background-color: var(--primary);
  color: var(--secondary);
}

.ps-00 {
  background-color: var(--primary);
  color: var(--secondary);
}
.ps-01 {
  background-color: var(--primary-surface-01);
  color: var(--secondary-surface-00);
}
.ps-02 {
  background-color: var(--primary-surface-02);
  color: var(--secondary-surface-00);
}
.ps-03 {
  background-color: var(--primary-surface-03);
  color: var(--secondary-surface-00);
}
.ps-04 {
  background-color: var(--primary-surface-04);
  color: var(--secondary-surface-00);
}

.ss-00 {
  background-color: var(--secondary);
  color: var(--primary);
}
.ss-01 {
  background-color: var(--secondary-surface-01);
  color: var(--primary-surface-00);
}
.ss-02 {
  background-color: var(--secondary-surface-02);
  color: var(--primary-surface-00);
}
.ss-03 {
  background-color: var(--secondary-surface-03);
  color: var(--primary-surface-00);
}
.ss-04 {
  background-color: var(--secondary-surface-04);
  color: var(--primary-surface-00);
}
