@use "./colors" as *;

$THEMEMAP: (
  "light-mode": (
    "p-surface-L0": $white-100,
    "p-surface-L1": darken($white-100, 5%),
    "p-surface-L2": darken($white-100, 10%),
    "p-surface-L3": darken($white-100, 15%),
    "p-surface-L4": darken($white-100, 20%),
    "p-text-01": rgba($black-100, 0.88),
    "p-text-02": rgba($black-100, 0.66),
    "p-text-03": rgba($black-100, 0.44),
  ),
  "dark-mode": (
    "p-surface-L0": $black-100,
    "p-surface-L1": lighten($black-100, 5%),
    "p-surface-L2": lighten($black-100, 10%),
    "p-surface-L3": lighten($black-100, 15%),
    "p-surface-L4": lighten($black-100, 20%),
    "p-text-01": rgba($white-100, 0.88),
    "p-text-02": rgba($white-100, 0.66),
    "p-text-03": rgba($white-100, 0.44),
  ),
  "dim-mode": (
    "p-surface-L0": $slate-100,
    "p-surface-L1": lighten($slate-100, 5%),
    "p-surface-L2": lighten($slate-100, 10%),
    "p-surface-L3": lighten($slate-100, 15%),
    "p-surface-L4": lighten($slate-100, 20%),
    "p-text-01": rgba($white-100, 0.88),
    "p-text-02": rgba($white-100, 0.66),
    "p-text-03": rgba($white-100, 0.44),
  ),
);

/// build base theme
$modekeys: ("light-mode", "dark-mode", "dim-mode");

$p-surfacekeys: (
  "p-surface-L1",
  "p-surface-L2",
  "p-surface-L3",
  "p-surface-L4"
);

$s-surfacekeys: (
  "s-surface-L1",
  "s-surface-L2",
  "s-surface-L3",
  "s-surface-L4"
);

@each $modekey, $modemap in $THEMEMAP {
  [data-mode-type="#{$modekey}"] {
    $primary-bgd: map-get($modemap, "p-surface-L0");
    $primary-txt: map-get($modemap, "p-text-01");

    background-color: $primary-bgd;
    color: $primary-txt;

    @each $surfacekey in $p-surfacekeys {
      .#{$surfacekey} {
        background-color: map-get($modemap, $surfacekey);
        color: $primary-txt;
      }
    }
  }
}

.surface-swatch {
  padding: 2rem 1rem;
}

// // accent gradient from 60-40 shade rangemary
