$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 11%);

$yellow: hsl(53, 100%, 50%);
$green: hsl(154, 100%, 50%);
$blue: hsl(215, 100%, 50%);
$red: hsl(10, 100%, 50%);

[data-theme-mode="mode-light"],
:root {
  --primary: #{$white};
  --primary-hover: #{darken($white, 5%)};
  --primary-active: #{darken($white, 10%)};
  --on-primary: #{$black};
  --on-primary-hover: #{lighten($black, 10%)};
  --on-primary-active: #{lighten($black, 20%)};
  --primary-surface-00: #{darken($white, 01%)};
  --primary-surface-01: #{darken($white, 05%)};
  --primary-surface-02: #{darken($white, 10%)};
  --primary-surface-03: #{darken($white, 15%)};
  --primary-surface-04: #{darken($white, 20%)};
  --secondary: #{$black};
  --secondary-hover: #{lighten($black, 10%)};
  --secondary-active: #{lighten($black, 20%)};
  --on-secondary: #{$white};
  --on-secondary-hover: #{darken($white, 5%)};
  --on-secondary-active: #{darken($white, 10%)};
  --secondary-surface-00: #{lighten($black, 01%)};
  --secondary-surface-01: #{lighten($black, 04%)};
  --secondary-surface-02: #{lighten($black, 08%)};
  --secondary-surface-03: #{lighten($black, 12%)};
  --secondary-surface-04: #{lighten($black, 16%)};
  --action: #{darken($blue, 5%)};
  --on-action: #{lighten($blue, 85%)};
  --action-hover: #{darken($blue, 10%)};
  --action-active: #{darken($blue, 20%)};
  --action-secondary: #{darken($white, 10%)};
  --on-action-secondary: #{darken($white, 90%)};
  --action-secondary-hover: #{darken($white, 20%)};
  --action-secondary-active: #{darken($white, 30%)};
  --status-help: #{darken($blue, 10%)};
  --status-warn: #{darken($yellow, 10%)};
  --status-error: #{darken($red, 10%)};
  --status-misuse: #{darken($red, 15%)};
  --status-success: #{darken($green, 10%)};

  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: var(--primary);
  color: var(--on-primary);
}

[data-theme-mode="mode-dark"],
:root {
  --primary: #{$black};
  --primary-hover: #{lighten($black, 10%)};
  --primary-active: #{lighten($black, 20%)};
  --on-primary: #{$white};
  --on-primary-hover: #{darken($white, 5%)};
  --on-primary-active: #{darken($white, 10%)};
  --primary-surface-00: #{lighten($black, 01%)};
  --primary-surface-01: #{lighten($black, 10%)};
  --primary-surface-02: #{lighten($black, 20%)};
  --primary-surface-03: #{lighten($black, 30%)};
  --primary-surface-04: #{lighten($black, 40%)};
  --secondary: #{$white};
  --secondary-hover: #{darken($white, 5%)};
  --secondary-active: #{darken($white, 10%)};
  --on-secondary: #{$black};
  --on-secondary-hover: #{lighten($black, 10%)};
  --on-secondary-active: #{lighten($black, 20%)};
  --secondary-surface-00: #{darken($white, 01%)};
  --secondary-surface-01: #{darken($white, 05%)};
  --secondary-surface-02: #{darken($white, 10%)};
  --secondary-surface-03: #{darken($white, 15%)};
  --secondary-surface-04: #{darken($white, 20%)};
  --action: #{darken($blue, 5%)};
  --on-action: #{lighten($blue, 85%)};
  --action-hover: #{darken($blue, 10%)};
  --action-active: #{darken($blue, 20%)};
  --action-secondary: #{lighten($black, 12%)};
  --on-action-secondary: #{lighten($black, 99%)};
  --action-secondary-hover: #{lighten($black, 18%)};
  --action-secondary-active: #{lighten($black, 24%)};
  --disabled: #{lighten($black, 40%)};
  --on-disabled: #{lighten($black, 65%)};
  --status-help: #{lighten($blue, 10%)};
  --status-warn: #{lighten($yellow, 10%)};
  --status-error: #{lighten($red, 10%)};
  --status-misuse: #{lighten($red, 5%)};
  --status-success: #{lighten($green, 10%)};

  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: var(--primary);
  color: var(--on-primary);
}

.ps-00 {
  background-color: var(--primary);
  color: var(--secondary);
}
.ps-01 {
  background-color: var(--primary-surface-01);
  color: var(--secondary-surface-00);
}
.ps-02 {
  background-color: var(--primary-surface-02);
  color: var(--secondary-surface-00);
}
.ps-03 {
  background-color: var(--primary-surface-03);
  color: var(--secondary-surface-00);
}
.ps-04 {
  background-color: var(--primary-surface-04);
  color: var(--secondary-surface-00);
}

.ss-00 {
  background-color: var(--secondary);
  color: var(--primary);
}
.ss-01 {
  background-color: var(--secondary-surface-01);
  color: var(--primary-surface-00);
}
.ss-02 {
  background-color: var(--secondary-surface-02);
  color: var(--primary-surface-00);
}
.ss-03 {
  background-color: var(--secondary-surface-03);
  color: var(--primary-surface-00);
}
.ss-04 {
  background-color: var(--secondary-surface-04);
  color: var(--primary-surface-00);
}

.status-help {
  color: var(--status-help);
}
.status-error {
  color: var(--status-error);
}
.status-misuse {
  color: var(--status-misuse);
}
.status-warning {
  color: var(--status-warn);
}
.status-success {
  color: var(--status-success);
}

@mixin use-border {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.01);
}

@mixin use-disabled-scheme {
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  &:disabled {
    background-color: var(--disabled);
    color: var(--on-disabled);
    &:hover {
      background-color: var(--disabled);
      color: var(--on-disabled);
    }
  }
}

@mixin use-default-scheme {
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: var(--secondary);
  color: var(--on-secondary);
  &:hover {
    background-color: var(--secondary-hover);
  }
  &:active {
    background-color: var(--secondary-active);
  }
}

@mixin use-action-scheme {
  &-action {
    transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: var(--action);
    color: var(--on-action);
    &:hover {
      background-color: var(--action-hover);
    }
    &:active {
      background-color: var(--action-active);
    }
  }
}
@mixin use-action-secondary-scheme {
  &-action-secondary {
    transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: var(--action-secondary);
    color: var(--on-action-secondary);
    &:hover {
      background-color: var(--action-secondary-hover);
    }
    &:active {
      background-color: var(--action-secondary-active);
    }
  }
}

@mixin use-secondary-scheme {
  &-secondary {
    background-color: var(--primary);
    color: var(--on-primary);
    transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    &:hover {
      background-color: var(--primary-hover);
    }
    &:active {
      background-color: var(--primary-active);
    }
  }
}
