@use "../base/theme" as *;
@use "../templates/layout" as *;

#root,
html,
body {
  display: block;
  font-size: 1rem;
}

#content {
  @include use-grid;
}

[data-container="container-layout"] {
  @include use-grid;
  align-content: flex-start;
  min-height: 100vh;
}

[data-container="container-page"] {
  @include use-grid;
  align-content: flex-start;
  padding-inline: 1rem;
  padding-block: 8rem;
  min-height: 100vh;
}

[data-container="container-tile"] {
  @include use-grid;
  padding: 1.5rem;
}

[data-container="container-header"] {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

[data-container="container-footer"] {
  display: block;
  padding-block: 4rem;
  padding-inline: 1rem;
}

[data-container="container-form"] {
  @include use-grid;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  width: min(40rem, 100%);
  background-color: var(--primary-surface-01);
}
[data-container="container-card "] {
  @include use-grid;
  padding-inline: 1rem;
  padding-block: 1rem;
}
